[Unit]
Description=Sirius-OS PIA VPN Auto-Provisioner
Wants=network-online.target
After=network-online.target
# Wait for VPN check/install to finish
Before=piavpn.service

[Service]
Type=oneshot
User=jonathon
Group=jonathon
# Distrobox/Podman requires HOME variable to find the container storage
Environment=HOME=/home/jonathon
ExecStart=/usr/libexec/piavpn-installer.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
